<div id="logo">
	<div class="name">Un<br>hack<br>athon</div>
	<div class="date">Sept. 20-21</div>
	<div class="place">Stony Brook University</div>
</div>
<div class="top">
<!-- multistep form -->
<form id="msform">
	<!-- progressbar -->
	<ul id="progressbar">
		<li id="hello-progress" class="active">Hello</li>
		<li id="contact-progress">Contact Info</li>
		<li id="food-progress">Food &amp; Swag</li>
		<li id="you-progress">You</li>
		<li id="thoughts-progress">Thoughts</li>
	</ul>
	<!-- fieldsets -->
	<fieldset class="page" data-progress="hello">
		<h2 class="fs-title large">Welcome!</h2>
		<h3 class="fs-subtitle survey-header initial-question">What's the best thing about hackathons?</h3>
		<input type="text" name="best" placeholder="Tell us! This empty box is calling to you." data-validator="notEmail"/>
		<input type="button" class="next action-button big-btn" value="Start your application!" />
	</fieldset>
	<fieldset class="page" id="contact-info" data-progress="contact">
		<h2 class="fs-title">Let's stay in touch.</h2>
		<h3 class="fs-subtitle"></h3>
		<input type="text" name="name" placeholder="Full Name" data-validator="required"/>
		<input type="email" name="email" placeholder="Email" data-validator="email"/>
		<input type="email" id="email_confirmation" placeholder="Confirm Email" data-validator="confirmEmail"/>
		<input type="text" name="school" placeholder="School" data-validator="required"/>
		<input type="tel" name="cell_number" placeholder="Cell Number" data-validator="phone"/>
		<input type="button" class="previous action-button" value="Previous" />
		<input type="button" class="next action-button" value="Next" />
	</fieldset>
	<fieldset class="page" id="food-swag-sleep" data-progress="food">
		<h2 class="fs-title">Food, Swag, &amp; Sleep</h2>
		<div class="checkboxes clearfix">
			<% ["Vegetarian", "Vegan", "Kosher", "Halal"].each do |food| %>
			<div class="checkbox-container col-xs-6"><input id="<%= food.downcase %>" class="fancy-checkbox" type="checkbox" name="<%= food.downcase %>" /><label for="<%= food.downcase %>"><div class="visual-checkbox"></div><%= food %></label></div>
			<% end %>
		</div>
		<input type="text" name="allergies" placeholder="Other food restrictions?" />
		<input type="text" name="snack" placeholder="Favorite Snack" />
		<input type="text" name="drink" placeholder="Favorite Drink" />
		<h3 class="fs-subtitle survey-header">What's your shirt size? Please note that the women's tend to run a little small.</h3>
		<select id="shirt_size" name="shirt_size" data-validator="tshirt">
			<option value="invalid">Pick a size</option>
			<option value="Women's XS">Women's XS</option>
			<option value="Women's S">Women's S</option>
			<option value="Women's M">Women's M</option>
			<option value="Women's L">Women's L</option>
			<option value="Unisex S">Unisex S</option>
			<option value="Unisex M">Unisex M</option>
			<option value="Unisex L">Unisex L</option>
			<option value="Unisex XL">Unisex XL</option>
			<option value="Unisex XXL">Unisex XXL</option>
		</select><br>
		<input type="button" class="previous action-button" value="Previous" />
		<input type="button" class="next action-button" value="Next" />
	</fieldset>
	<fieldset class="page" data-progress="you">
		<h2 class="fs-title">You</h2>
		<p>As we review applications, we'll be looking for thoughtful hackers who are excited about learning and building in a friendly community. </p><p>Unhackathon doesn't require any specific experience or field of interest, so don't worry about not being a rockstar-ninja-guru. <br> We like you already.</p>
		
		<h3 class="fs-subtitle survey-header">Will this be your first hackathon?</h3>
		<div class="checkbox-container">
			<input id="first_time" class="fancy-checkbox col-xs-12" type="checkbox" name="first_time">
			<label for="first_time"><div class="visual-checkbox"></div>Yes! I'm excited!</label>
		</div>
		<input type="button" class="previous action-button" value="Previous" />
		<input type="button" class="next action-button" value="Next" />
	</fieldset>
	<fieldset class="page" data-progress="you">
		<h2 class="fs-title">You</h2>
		<h3 class="fs-subtitle survey-header">What are you interested in working on?</h3>
		<%= erb :checkbox, locals: { :id => "frontend_code", :text => "Frontend" }%>
		<%= erb :checkbox, locals: { :id => "hardware_hacking", :text => "Hardware" }%>
		<%= erb :checkbox, locals: { :id => "user_interface", :text => "UX" }%>
		<%= erb :checkbox, locals: { :id => "design", :text => "Design" }%>
		<%= erb :checkbox, locals: { :id => "ideas", :text => "Ideas" }%>
		<%= erb :checkbox, locals: { :id => "mobile_apps", :text => "Mobile" }%>
		<%= erb :checkbox, locals: { :id => "game_dev", :text => "Game Dev" }%>
		<%= erb :checkbox, locals: { :id => "data_science", :text => "Data Science" }%>
		<div class="checkbox-container col-xs-12">
			<input id="something_else" class="fancy-checkbox" type="checkbox">
			<label for="something_else"><div class="visual-checkbox"></div>Something else (you're awesome!)</label>
		</div>
		<input type="text" id="other-interest" name="other_interest" placeholder="Underwater basket weaving">
		<div class="clearfix"></div>
		<h3 class="fs-subtitle survey-header">How would you rate your level of experience?</h3>
		<input type="text" id="experience" class="slider-input" data-slider-snap="true" data-slider-range="1,4" data-slider-step="1" data-slider="true" name="experience">
		<div class="slider-caption left">I’m completely new, can’t wait to learn!</div>
		<div class="slider-caption right">I feel ready to get a job in my favorite field. </div>
		<input type="button" class="previous action-button" value="Previous" />
		<input type="button" class="next action-button" value="Next" />
	</fieldset>
	<fieldset class="page" data-progress="thoughts">
		<h2 class="fs-title">Thoughts</h2>
		<h3 class="fs-subtitle survey-header">What do you hope to achieve at Unhackathon?</h3>
		<textarea id="achieve_text" name="achieve_text"></textarea>
		<h3 class="fs-subtitle survey-header">What new skill or technology would you like to learn or try at Unhackathon?</h3>
		<textarea id="new_skill_text" name="new_skill_text"></textarea>
		<input type="button" class="previous action-button" value="Previous" />
		<input type="button" class="next action-button" value="Next" />
	</fieldset>
	<fieldset class="page" data-progress="thoughts">
		<h2 class="fs-title">Thoughts</h2>
		<h3 class="fs-subtitle survey-header"><div>If you’ve been to a hackathon before, how do you think hackathons should be improved?</div><div class="alternative-indicator">or</div><div> If this is your first hackathon, how do you imagine the ideal hackathon?</div></h3>
		<textarea id="improve_text" name="improve_text"></textarea>
		<h3 class="fs-subtitle survey-header">What would you like to your skills for <br>in the future? </h3>
		<textarea id="future_text" name="future_text"></textarea>
		<input type="button" class="previous action-button" value="Previous" />
		<input type="button" name="submit" class="submit action-button" value="Submit" />
	</fieldset>
	<div class="page" id="success-page">
		<h2 class="fs-title">Success!</h2>
		<p>You have successfully applied for unhackathon. You should be recieving a confirmation email shortly.</p>
		<p>We are reviewing applications as they come in, so you should hear from us within a week. If you have any trouble, feel free to email us at <a href="mailto:support@unhackathon.org">support@unhackathon.org.</a> </p>
		<p>If you have any more ideas about hackathons or life in general, email us at ideas@unhackathon.org. We look forward to hearing from you! </p>
	</div>
	<div class="page" id="failure-page">
		<h2 class="fs-title">Oh no!</h2>
		<p>It looks like something has gone wrong with your signup.</p>
		<p>The error is: <span class="error"></span></p>
		<p>Please contact us at <a href="mailto:support@unhackathon.org">support@unhackathon.org.</a> and we'll get everything sorted out</p>
	</div>
</form>
<div class="scroll-down-arrow"><span class="glyphicon glyphicon-chevron-down"></span></div>
</div>
<div class="bottom">
	<div class="about">
		<h2 class="chunk-five">What is Unhackathon?</h2>
		<p class="single-column"> We’re building a hackathon where talented makers and creators of all kinds can code their hearts out. We emphasize mentorship, learning, and diversity of hackers and awards, hoping to find not just the coolest hacks, but the greatest. Our awards will recognize qualities like technical ambition, thoughtful code, inspired design, and potential for improvements beyond the hackathon. </p>
		<p class="single-column"> Unhackathon will take place over 36 hours from September 20 to 21st. We hope to encourage hackers to learn new skills and technologies by making API resources, hardware and interesting data sets available to everyone. We’ll also have everything you’ll need to be productive - many inspiring workings spaces to fit your mood, energy drinks and healthy snacks and meals, and advice from the greatest mentors ever. Our mentors come from the best NYC tech companies and startups, and will be around the whole time to help you with everything from ideas to bugs.</p>
		<h2 class="chunk-five">Why does Unhackathon matter? </h2>

		<p class="single-column">By running a small, focused event, we will be able to try the latest ideas for improving the hackathon experience for everyone. Our hackers will be thoughtful and driven, and we’re counting on their opinions to learn from this event. We’ll be collecting data throughout the weekend and sharing our findings with hackathon organizers everywhere, so we can all learn from our successes and mistakes. We’d like hackathons in general to become more inclusive, welcoming hackers with diverse backgrounds, experiences, and interests - and we look forward to discovering more about how to make that a reality. Some of our areas of interest include varied working environments, a restructured prize system that equally rewards different project qualities, promoting healthy attitudes about eating and sleeping, and a major focus on learning and mentorship. If you have a specific idea for improving hackathons, we’d love to hear it! Send us a note at ideas@unhackathon.org. </p>
		<h2 class="chunk-five">FAQ</h2>
		<div class="row">
			<div class="col-md-4 col-sm-6">

				<h3>Who should attend Unhackathon?</h3>

				<p>Unhackathon is open to any undergraduate who wants to spend a weekend building something great! Whether this is your first hackathon or your 15th, you’ll have opportunities to learn from our hackers and mentors, compete for awards, and have an epic time. You must be a current student and 18 or over to attend. </p>
			</div>



			<div class="col-md-4 col-sm-6">

				<h3>What kind of experience is required?</h3>

				<p>None! One of the things we like best about hackathons is that they’re great places to jump in and learn something completely new. Designers, game programmers, web developers and hardware hackers are all more than welcome. Use this opportunity to get outside your comfort zone and learn a new technology, API, or skill. We’ll even have awards for trying new things and having crazy awesome technical ambition.</p>
			</div>

			<div class="col-md-4 col-sm-6">

				<h3>What will mentorship be like?</h3>

				<p>We are so excited about our mentorship program. Our mentors will be coming from the best tech companies and startups in NYC. They’ll be around throughout the weekend to listen to your ideas, help you with technical challenges, and even help you learn new skills from the beginning. You can ask them questions about the real world of technology, and pick their brains about their areas of expertise.</p>
			</div>
			<div class="clearfix visible-lg-block visible-md-block"></div>
			<div class="col-md-4 col-sm-6">

				<h3>How does registration work?</h3>

				<p>We’re accepting applications on a rolling basis, so apply now! We have no requirements for technical ambition or previous hackathons and awards - instead, we’re looking for creative hackers with diverse backgrounds, interests, and skill sets. Most of all, we’re excited to hear from thoughtful people who like the idea of influencing hackathons for the better.</p>
			</div>

			<div class="col-md-4 col-sm-6">

				<h3>How big should teams be?</h3>

				<p>Teams should be at most 4 people. You can choose your teammates before you arrive, or meet them at one of our opening activities. You are also free to work on a project by yourself and hang out with our hackers and mentors whenever you want.</p>
			</div>

			<div class="col-md-4 col-sm-6">

				<h3>How much does attending cost?</h3>

				<p>Unhackathon is totally free! We’ll provide healthy meals and snacks, an excellent working environment, great places to hang out and nap, and  of course more swag than you’ll know what to do with.</p>
			</div>
			<div class="clearfix visible-lg-block visible-md-block"></div>

			<div class="col-md-4 col-sm-6">

				<h3>What should I bring with me?</h3>

				<p>Your brain, and your heart! And anything else that you need to be your most productive. Laptop, peripherals, sweatshirt, change of clothes, and a pillow and sleeping bag if you plan on napping. We’re working on getting some hardware to hack on, but you should plan on bringing anything you definitely need.</p>
			</div>

			<div class="col-md-4 col-sm-6">

				<h3>How does travel work?</h3>

				<p>Unhackathon is located at Stony Brook Unversity, on Long Island. We’ll be sending buses around the East Coast to pick up students from their universities. The more students from your school attend, the better chance you’ll have of grabbing a bus. And no matter what, if you can get to New York City we’ll pick you up!</p>
			</div>

			<div class="col-md-4 col-sm-6">

				<h3>What kinds of awards can I win?</h3>

				<p>We find that the standard hackathon awards system doesn’t encourage much project diversity or recognize subtle accomplishments like beautiful code, technical ambition, or brilliant user experience. Instead of awarding a grand prize, we’ll have prizes that reward our hacks’ best qualities. We consider them all to be equally important.  Check back soon for a full list along with our schedule!</p>
			</div>

			
			<div class="clearfix visible-lg-block visible-md-block"></div>

			<div class="col-md-4 col-sm-6">

				<h3>Where’s the schedule?</h3>

				<p>Good question! It’ll be coming out soon as we finalize our speakers and activities. Stay tuned!</p>
			</div>

			<div class="col-md-4 col-sm-6">

				<h3>What if I have another question?</h3>

				<p>You should email us at <a href="mailto:team@unhackathon.org">team@unhackathon.org</a>. We look forward to hearing from you!  
			</div>
		</div>
		<h2 class="chunk-five">Sponsorship</h2>
		<p class="single-column">Interested in being a sponsor? We'd love to hear from you! Send us a note at <a href="mailto:sponsorship@unhackathon.org">sponsorship@unhackathon.org</a></p>
	</div>
</div>

<!-- jQuery -->
