<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
    <div marginwidth="0" marginheight="0">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                <tr>
                    <td align="center" valign="top">
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top" style="padding-top:9px"></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
            <tr>
                <td valign="top" style="padding:9px">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0">
                                
                                    <a href="www.unhackathon.org" target="_blank">
                                        <img align="left" alt="" src="http://www.unhackathon.org/img/email_top.png" width="564" style="max-width:620px;padding-bottom:0;display:inline!important;vertical-align:bottom">
                                    </a>
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="top">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px">
                        
                            Hey <%= @name %> <br>
<br>
I'm excited to tell you that your application to Unhackathon has been accepted! After reading all your thoughts and ideas in our survey section, we think you're an excellent fit for the event. Congratulations!<br>
<br>
We'll be using what you wrote, as well as the answers to the other application questions, to make Unhackathon as great as possible. We've accepted hackers with incredibly diverse backgrounds and interests, and all levels of experience. It's a smart, engaged, and friendly group, so you're bound to make friends and have interesting conversations. Our team of inspiring mentors will also be around to help and advise. We'll be sending updates as the event gets closer to help you get ready for an epic weekend. <strong>Remember, applications are still open at <a href="<%= base_url %>" target="_blank">unhackathon.org</a>,</strong> so you still have time to tell your friends and build your team.<br>
<a href="https://a.tiles.mapbox.com/v4/hannep.j6me9d83/page.html?access_token=pk.eyJ1IjoiaGFubmVwIiwiYSI6IjYybzlPM2MifQ.JkZw762oCUHD6iNtpHXKBQ#6/41.755/-76.696" target="_blank"><img align="left" alt="Our bus area map. Click for detail. " height="210" src="http://www.unhackathon.org/img/transit_map.png" style="width:200px;height:190px;margin:10px" width="220"></a>
<br>
First, here's some logistical info. So far we're able to sendbuses to pick up anyone who is inside this red shape (click the image or <a href="https://a.tiles.mapbox.com/v4/hannep.j6me9d83/page.html?access_token=pk.eyJ1IjoiaGFubmVwIiwiYSI6IjYybzlPM2MifQ.JkZw762oCUHD6iNtpHXKBQ#6/41.755/-76.696" target="_blank">here</a> for the full map), <strong>and</strong> has at least 8 hackers coming from their school. <br> 
<br>
Applications are still open, so get your friends and classmates together! If you need any help, be sure to email us. <br>
<br>
If you live outside that shape and can't meet us at a school inside it, we're still working on getting your travel put together. Hang tight! <br>
<br>
<div style="clear:both;">Please press one of these three huge red buttons so we know what your plans are: </div></span>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px solid #aa0000;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#cc0000">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="font-family:Arial;font-size:16px">
                                <a href="<%= confirm_url("bus") %>" title="I'm all set! I plan to be on one of the Unhackathon buses." style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;padding:16px;display:block">I'm all set! I plan to be on one of the Unhackathon buses.</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px solid #aa0000;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#cc0000">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="font-family:Arial;font-size:16px">
                                <a href="<%= confirm_url("outside") %>" title="I want to be there but my school is outside the bus range." style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;padding:16px;display:block">I want to be there but my school is outside the bus range.</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px solid #aa0000;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#cc0000">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="font-family:Arial;font-size:16px">
                                <a href="<%= confirm_url("own") %>" title="I'll be handling my own transportation to Unhackathon! :)" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;padding:16px;display: block">I'll be handling my own transportation to Unhackathon! :)</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="top">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px">
                        
                            If it turns out you can't attend anymore, <a href="<%= cancel_url() %>" target="_blank">click here.</a> We'll miss you. <br>
<br>
As always, feel free to email any time you have a question about Unhackathon. We can't wait to meet you in September! <br>
<br>
Cheers,<br>
Hanne &amp; the Unhackathon Team 
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top" style="padding-bottom:9px"></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body></html>
